* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
body {
	background-color: #edeff2;
	font-family: "Calibri", "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	width: 100dvh;
}
  
.chat_window {
	height: 93dvh;
	width: 100dvw;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
}
  
.top_menu {
	background-color: #007bff;
	width: 100%;
	padding: 20px 0 15px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}


.top_menu .title {
	text-align: center;
	color: #e3e3e3;
	font-size: 20px;
	top: -3px;
	position: relative;
}
  
  .messages {
	position: relative;
	list-style: none;
	padding: 20px 10px 0 10px;
	margin: 0;
	height: 100dvh;
	overflow-y: scroll;
  }
  .messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
  }
  .messages .message.left .avatar {
	background-color: #f5886e;
	float: left;
  }
  .messages .message.left .text_wrapper {
	background-color: #ffe6cb;
	margin-left: 20px;
  }
  .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #ffe6cb;
  }

  .messages .message.right .avatar {
	background-color: #fdbf68;
	float: right;
  }
  .messages .message.right .text_wrapper {
	background-color: #a0dfff;
	margin-right: 20px;
	float: right;
  }
  .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color: #a0dfff;
  }
  .messages .message.right .text {
	color: #45829b;
  }
  .messages .message.appeared {
	opacity: 1;
  }
  .messages .message .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: inline-block;
  }
  .messages .message .text_wrapper {
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	width: calc(100% - 85px);
	min-width: 100px;
	position: relative;
  }
  .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  }
  .messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
  }
  .messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
  }
  .messages .message .text_wrapper .text {
	font-size: 18px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.863);
  }
  
  .bottom_wrapper {
	position: relative;
	width: 100%;
	background-color: #fff;
	padding: 20px 20px;
	position: absolute;
	bottom: 0;
  }
  .bottom_wrapper .message_input_wrapper {
	display: inline-block;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #007bff;
	width: calc(100% - 160px);
	position: relative;
	padding: 0 20px;
  }
.bottom_wrapper .message_input_wrapper .message_input {
	border: none;
	height: 100%;
	box-sizing: border-box;
	width: calc(100% - 40px);
	position: absolute;
	outline: none;
	color: #007bff;
}
.bottom_wrapper .send_message {
	width: 140px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
	border: 2px solid #007bff;
	color: #007bff;
	cursor: pointer;
	transition: all 0.2s linear;
	text-align: center;
	float: right;
}
.bottom_wrapper .send_message:hover {
	color: white;
	background-color: #007bff;
}
.bottom_wrapper .send_message .text {
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
	line-height: 48px;
}

.message_template {
	display: none;
}

.text_wrapper {
	height: auto;
	width: auto;
	word-wrap: break-word;
}

.avatar {
	background-position: center;
	background-size: cover;
}

.fa-house, .fa-solid {
	display: block;
	position: absolute;
	margin-left: 40px;
	color: white;
	cursor: pointer;
	z-index: 2;
}