.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 6dvh;
	width: 100dvw;
	background: #32343f;
	z-index: 10;
	position: absolute;
}
  

.button-container {
	position: absolute;
	display: flex;
	background-color: rgb(22, 23, 29);
	width: 110px;
	height: 80%;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	left: 100%;
	transform: translateX(-107%);
  }
  
  .button {
	outline: 0 !important;
	border: 0 !important;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
  }
  
  .button:hover {
	transform: translateY(-3px);
  }
  
  .icon {
	font-size: 20px;
  }